#Eclipse files

.classpath
.project
.settings/
.tern-project
.npmrc
wissen.iml

#Maven files
target/

#Java files
*.class
*.jar
*.war
*.ear
hs_err_pid*

#Common files
*~
/.apt_generated/
.factorypath
*.log
*.out
*.gz

#Node plugin files
node/
node_modules/
etc/
package-lock.json
