@CHARSET "UTF-8";

body > .ui.container {
	margin-top: 3em; 
}

i.leaf.icon.greenicon {
	color: #339933; 
}

span#latest.greenstatus {
	color: #009933; 
}

span#latest.redstatus {
	color: #cc3300; 
}

.hiddenf {
	display: none !important; 
}

.tlistfelem {
	padding-bottom: 7px !important;
}

.tlistelem {
	padding-bottom: 7px !important; 
	padding-top: 7px !important;
}

.tlistfcol{
	margin-bottom:0px !important;
}

.tlistaddcol{
	margin-bottom:0px !important;
	margin-top:0px !important;
}

.tlistcol {
	margin-bottom:0px !important; 
	margin-top:0px !important
}

.floatfright{
	float:right;
}

.unselectablef{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}