<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<th:block th:fragment="index">
		<div class="ui container">
			<div class="ui people shape">
				<div class="sides">
					<div class="side">
						<div class="ui card">
							<div class="content">
								<i class="right floated remove teal bookmark icon"></i>
								<i class="right floated empty star icon"></i>
								<div class="header">Cute Dog</div>
								<div class="description">
									<p></p>
								</div>
							</div>
							<div class="extra content">
								<span class="right floated">121 <i class="yellow star icon"></i></span>
							</div>
						</div>
					</div>
					<div class="side active">
						<div class="ui card">
							<div class="content">
								<i class="right floated remove teal bookmark icon"></i>
								<i class="right floated empty star icon"></i>
								<div class="header">Cute Dog</div>
								<div class="description">
									<p></p>
								</div>
							</div>
							<div class="extra content">
								<span class="right floated">121 <i class="yellow star icon"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		</th:block>
	</body>
</html>