<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  
    <th:block th:fragment="content">
    <div class="ui container">
      <div class="ui stackable grid">
        
        <div class="row">
          
          <div class="ten wide column">
           <p></p>
            <h1 class="ui center aligned header">
              <i class="chart bar outline icon"></i>
              <div class="content">Expenses report December 2018</div>
            </h1>
          </div>
          
          <div class="six wide column">
            <div class="ui yellow center aligned segment" id="balanceseg">
              <div class="ui yellow small statistic" id="balancest">
                <div class="value" id="balanceval">
                  0.00
                </div>
                <div class="label">Balance MXN</div>
              </div>
            </div>
    	  </div>
    	</div>
    	
    	<div class="row">
    	  
    	  <div class="four wide column">
    	  
    	    <div class="ui icon fluid buttons mobile hidden">
    	      <button class="ui button" onclick="toggleNewExpenseModal()"><i class="plus circle icon"></i></button>
    	      <button class="ui button"><i class="calendar alternate outline icon"></i></button>
    	      <button class="ui button"><i class="download icon"></i></button>
    	    </div>
    	    
    	    <div class="ui teal center aligned segment" id="banksegment">
    	      <h3 class="ui header"> <i class="money bill alternate outline icon"></i>Bank account</h3>
    	      <p><b id="bankaccount">-</b></p>
    	    </div>
    	  </div>
    	  
    	  <div class="twelve wide column">
    	    <table class="ui striped compact table">
    	      <thead>
    	        <tr>
    	          <th colspan="3">Expenses</th>
    	        </tr>
    	      </thead>
    	      <tbody id="maintable">
    	      
    	      </tbody>
    	    </table>
    	  </div>
    	</div>
    	
      </div>
    </div>
    
    <div class="ui basic modal" id="bankmodal">
      <div class="ui icon header">
        <i class="money bill alternate outline icon"></i>
        Bank account
      </div>
      <div class="content">
        <form class="ui form">
          <div class="field">
            <label style="color: white;">Bank account balance</label>
            <input type="number" name="bankbalance" id="bankbalance">
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui green inverted button" onclick="registerBankAccount()">
          <i class="checkmark icon"></i> Submit
        </div>
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i> Cancel
        </div>
      </div>
    </div>
    
    <div class="ui modal" id="expensemod">
      <i class="close icon"></i>
      <div class="header">Register an expense</div>
      <div class="content">
        <form class="ui form">
          <div class="inline fields">
            <div class="ten wide field">
              <label>Description</label>
              <input type="text" id="expdesc" name="expdesc"/>
            </div>
            <div class="six wide field">
              <label>Amount</label>
              <input type="number" id="expamount" name="expamount"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <button class="ui mobile only circular teal big icon button floatxbutton"><i class="icon bars"></i></button>
    <br/>
    <br/>
    <br/>
    <br/>
    </th:block>

  </body>
</html>