<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<title>Wissen</title>
		<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
		<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-spread/1.0.9/cytoscape-spread.js"></script>
		<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.0.5/cytoscape-cose-bilkent.js"></script>
		<style>
			#cy {
		        position: absolute;
		        left: 0;
		        top: 0;
		        right: 0;
		        bottom: 0;
		        z-index: 999;
		      }
    	</style>
	</head>
	<body>
		<div id="cy"></div>
				
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="/js/semantic.js"></script>
		<script>
			$('.ui.dropdown')
			  .dropdown()
			;

		</script>
		<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
			var concepts = [[${concepts}]];
			var map = [[${map}]];
			var relations = [[${relations}]];
			var elem = [];
			
			for( i= 0; i < concepts.length; i++ ){
				elem.push( { data: { id: map[concepts[i]] , label: concepts[i] }, classes: 'top-center' } );
			}
			for( i = 0; i < relations.length; i++ ){
				elem.push( { data: { id: relations[i].other.id , label: relations[i].other.text }, classes: 'top-center' } );
				elem.push( { data: { source: map[relations[i].subject.text], target: relations[i].other.id, label: relations[i].action.text }, classes: 'autorotate' } );
			}
			//{ data: { source: '${relations.subject.text}', target: 'ar-tgt', label: '${relations.action.text}' }, classes: 'autorotate' },
		
			document.addEventListener( 'DOMContentLoaded', function( ){
				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),
					boxSelectionEnabled: false,
					autounselectify: true,
					layout: {
						name: 'spread',
						minDist: 100,
						padding: 100
					},
					style: [{
						selector: 'node',
						style: {
							'height': 40,
							'width': 40,
							'background-color': '#ccc',
							'label': 'data(label)'
						}
					},{
						selector: 'edge',
						style: {
							'label': 'data(label)',
							'width': 3,
							'line-color': '#ccc'
						}
					},{
						selector: '.top-center',
						style: {
							'text-valign': 'center',
							'text-halign': 'center'
						}
					},{
						selector: '.autorotate',
						style: {
							'edge-text-rotation': 'autorotate'
						}
					}
				],
				elements: elem
		});
      });
	/*]]>*/
    </script>
	</body>
</html>