<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<title>Wissen</title>
	</head>
	<body>
		
		<div class="ui top menu">
			<div class="header item">Wissen</div>
			<div class="right menu">
				<a sec:authorize="isAnonymous()" href="/login" class="item" >login</a>
				<a sec:authorize="isAuthenticated( )" class="item" href="#">
					<span sec:authentication="principal.username"></span>
				</a>
				<div sec:authorize="isAuthenticated( ) class="ui dropdown icon item">
					<b>repository</b>
					<div class="menu">
						<a class="item" href="#">
							<i class="book icon"></i> flashcards
						</a>
						<a class="item" href="#">
							<i class="block layout icon"></i> categories
						</a>
					</div>
				</div>
				<a sec:authorize="isAuthenticated( )" class="item" href="/logout">logout</a>
				<div class="ui right aligned category search item">
					<div class="ui transparent icon input">
						<input class="prompt" type="text" placeholder="Search flashcards..." />
						<i class="search link icon"></i>
					</div>
					<div class="results"></div>
				</div>
			</div>
		</div>
		
		
		<h1 class="ui center aligned icon header">
			<i class="circular book icon"></i>
			<div class="content">
				Wissen
				<div class="sub header">Flashcards repository</div>
			</div>
		</h1>
		
		<div style="margin-top: 50px"></div>
		
		<div class="ui basic segment center aligned">
			<b>Seifernet 2016</b>
		</div>
		
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="/js/semantic.js"></script>
		<script>
			$( '.ui.search' ).search( {
				type          : 'category',
				minCharacters : 3,
				apiSettings   : {
					onResponse: function( apiResponse ) {
						var response = {
							results : {}
						};
						
						$.each( apiResponse._embedded.flashcard, function( index, item ) {
						var maxResults = 10;
						var category = item.category || 'Uncategorized';

						if( index >= maxResults ) {
							return false;
						}

						if( response.results[ category ] === undefined ) {
							response.results[ category ] = {
									name    : category,
									results : []
							};
						}

						response.results[ category ].results.push( {
							title       : item.question,
							description : item.answer,
							url         : item._links.self.href
						});
					});
					return response;
				},
				url: '/flashcard/search/findDistictFlashcardsByQuestionLikeIgnoreCaseOrderByIdAsc?question={query}'
			}});

			$( '.ui.dropdown' ).dropdown();
		</script>
	</body>
</html>