<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<title>Wissen</title>
	</head>
	<body>
		
		<div class="ui top menu">
			<div class="header item">Wissen</div>
			<div class="right menu">
				<a sec:authorize="isAnonymous()" href="/login" class="item" >login</a>
				<a sec:authorize="isAuthenticated( )" class="item" href="#">
					<span sec:authentication="principal.username"></span>
				</a>
				<div sec:authorize="isAuthenticated( )" class="ui dropdown icon item">
					<b>repository</b>
					<div class="menu">
						<a class="item" href="#">
							<i class="book icon"></i> flashcards
						</a>
						<a class="item" href="#">
							<i class="block layout icon"></i> categories
						</a>
					</div>
				</div>
				<a sec:authorize="isAuthenticated( )" class="item" href="/logout">logout</a>
				<div class="ui right aligned category search item">
					<div class="ui transparent icon input">
						<input class="prompt" type="text" placeholder="Search flashcards..." />
						<i class="search link icon"></i>
					</div>
					<div class="results"></div>
				</div>
			</div>
		</div>
		
		
		<h1 class="ui center aligned icon header">
			<i class="circular book icon"></i>
			<div class="content">
				Wissen
				<div class="sub header">Flashcards repository</div>
			</div>
		</h1>
		
		<div style="margin-top: 50px"></div>
		
		<div class="ui basic segment center aligned">
			<b>Seifernet 2016</b>
		</div>
		
		<div class="ui modal">
			<div class="header"><i class="icon book"></i> New flashcard</div>
			<div class="content">
				<div class="ui form">
					<div class="field">
						<label>Question</label>
						<input id="question" name="question" type="text" placeholder="When was France founded?" />
						<input type="hidden" id="csfrToken" name="csfrToken" th:value="${_csrf.token}" />
						<input type="hidden" id="csfrAttr" name="csfrAttr" th:value="${_csrf.parameterName}" />
					</div>
					<div class="field">
						<label>Answer</label>
						<input id="answer" name="answer" type="text" placeholder="In the ninth century" />
					</div>
					<div class="field">
						<label>Details</label>
						<textarea id="details" name="details" rows="2"></textarea>
					</div>
					<div class="three fields">
						<div class="field">
							<label>References</label>
							<input id="references" name="references" type="text" placeholder="http://resources.com/france" />
						</div>
						<div class="field">
							<label>Category</label>
							<select id="category" name="category" class="ui fluid dropdown">
								<option value="Uncategorized">Uncategorized</option>
								<option value="History">History</option>
								<option value="Culture">Culture</option>
								<option value="Science">Science</option>
							</select>
						</div>
						<div class="field">
							<label>Keywords ( comma separated )</label>
							<input id="keywords" name="keywords" type="text" placeholder="france,history,foundation" />
						</div>
					</div>
					<div class="field">
						 <div class="ui checkbox">
						 	<input name="shared" id="shared" type="checkbox" class="hidden" />
						 	<label>Make it available for everyone. <a href="#">Learn more</a></label>
						 </div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="ui black deny button">Cancel</div>
				<button class="ui right labeled icon button" onclick="createFlashcard( )">
					Create<i class="add circle icon"></i>
				</button>
			</div>
		</div>
		
		<button class="circular ui icon button" onclick="showModal( )">
			<i class="icon settings"></i>
		</button>
		
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="/js/semantic.js"></script>
		<script>
			
			function createFlashcard(  ){
				var d = new Date();
				var month = d.getMonth( ) + 1;
				var day = d.getDate( );

				var currDate = d.getFullYear( ) + '-' + ( 10 >= month ? "0" : "" ) + month + '-' + ( 10 >= day ? '0' : '' ) + day;
				$.ajax({
					url : "/api/flashcards?" + $( "#csfrAttr" ).val( ) + "=" + $( "#csfrToken" ).val( ),
				    type: "POST",
				    contentType: "application/json; charset=utf-8",
				    data :
					    '{"question":"' + $("#question").val( ) +'",' + 
					    ' "answer":"' + $("#answer").val( ) +'",' + 
					    ' "author":" seifer'  + '",' + 
					    ' "details":"' + $("#details").val( ) +'",' + 
					    ' "category":"' + $("#category").val( ) +'",' + 
					    ' "keywords":"' + $("#keywords").val( ) +'",' + 
					    ' "shared":"' + $("#shared").is(":checked") +'",' + 
					    ' "created":"' + currDate +'",' +
					    ' "update":"' + currDate +'",' +
					    ' "enabled" : true  }',
				    dataType: "json",
				    success: function( data ) {
					    alert( 'ok' );
				    }
				});
			}
			
			
			function showModal(  ){
				$('.ui.modal').modal('show');
			}
		
			$( '.ui.search' ).search( {
				type          : 'category',
				minCharacters : 3,
				apiSettings   : {
					onResponse: function( apiResponse ) {
						var response = {
							results : {}
						};
						
						$.each( apiResponse._embedded.flashcard, function( index, item ) {
						var maxResults = 10;
						var category = item.category || 'Uncategorized';

						if( index >= maxResults ) {
							return false;
						}

						if( response.results[ category ] === undefined ) {
							response.results[ category ] = {
									name    : category,
									results : []
							};
						}

						response.results[ category ].results.push( {
							title       : item.question,
							description : item.answer,
							url         : item._links.self.href
						});
					});
					return response;
				},
				url: '/api/flashcards/search/findDistictFlashcardsByQuestionLikeIgnoreCaseOrderByIdAsc?question={query}'
			}});

			$( '.ui.dropdown' ).dropdown();
			$('.ui.checkbox').checkbox();
		</script>
	</body>
</html>