<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<title>Login</title>
	</head>
	<body>
		<div style="margin-top: 80px;"></div>
		<div class="ui container">
			<div class="ui one column centered grid">
				<div class="eight wide column">
					<h2 class="ui center aligned icon header">
						<i class="circular book icon"></i>
						<div class="content">
							Wissen
						</div>
					</h2>
					<div class="ui inverted raised segment">
						<form th:action="@{/login}" method="post" class="ui inverted form" >
							<div class="field">
								<label>Username</label>
								<input type="text" name="username"/>
							</div>
							<div class="field">
								<label>Last Name</label>
								<input type="password" name="password" />
							</div>
							<button class="ui button" type="submit">Sign In</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="ui basic segment center aligned">
			<b>Seifernet 2016</b>
		</div>
		
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="/js/semantic.js"></script>
	</body>
</html>