<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css" />
    <link rel="stylesheet" type="text/css" href="/css/wissen.css" />
    <title>Wissen</title>
  </head>
  <body>
    <div class="ui top attached menu">
      <div class="ui dropdown icon item">
        <i class="sidebar icon"></i>
        <div class="menu">
          <div class="item"><a href="/plant">Plant</a></div>
        </div>
      </div>
      <div class="ui item">
        <a href="/"><h3 class="ui header">Wissen</h3></a>
      </div>
      <div class="ui right item" id="authuseritem" onclick="showAuthModal('menuButton')">
        <i class="large user circle outline icon"></i> <span id="authuser">Anonymous</span>
      </div>
    </div>
    
    <th:block th:include="${contentSource} :: ${contentFragment}"></th:block>
    
    <div class="ui modal" id="authmod">
      <i class="close icon"></i>
      <div class="header">Authentication stage</div>
      
      <div class="content">
        <div class="ui icon message">
          <i class="id badge icon"></i>
          <div class="content">
            <div class="header">Hi! Stranger</div>
            <p id="usageNotex">
              We have noticed that you are not logged in. This
              can be an issue if you try to access some areas 
              of the site that are not allowed to unidentified 
              users. So in order to continue, please log in.
              <i class="smile icon"></i>
            </p>
            <p id="welcomeNotex">
              Welcome to wissen, please provide your credentials.
              <i class="smile icon"></i>
            </p>
          </div>
        </div>
        <div class="ui hidden negative message" id="wrongcredentials">
          <i class="close icon"></i>
          <div class="header">
            Wrong credentials
          </div>
        </div>
        <form class="ui form">
          <div class="field">
            <label>User</label>
            <input type="text" id="user" name="user" placeholder="User" />
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" id="passwd" name="passwd" placeholder="Password" />
          </div>
          <button class="ui button" type="button" onclick="authenticate()">Submit</button>
        </form>
      </div>
    </div>
    
    <div class="ui modal" id="newtaskmod">
      <i class="close icon"></i>
      <div class="header">New Task</div>
      <div class="scrolling content">
        <form class="ui form">
          <div class="field">
            <label>Title</label>
            <input type="text" name="tasktitlef" id="tasktitlef" placeholder="Some task name" maxlength="24"/>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="taskdescneededf" id="taskdescneededf" onchange="toggleNewTaskDesc()" checked="true" />
              <label>Description needed?</label>
            </div>
          </div>
          <div class="field" id="taskdescfieldf">
            <label>Description</label>
            <textarea rows="3" name="taskdescf" id="taskdescf"></textarea>
          </div>
          <div class="field">
            <label>Due date</label>
            <input type="datetime-local" name="taskduedatef" id="taskduedatef" />
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="taskexpiresf" id="taskexpiresf" onchange="toggleExpireDate()" checked="true"/>
              <label>Expires?</label>
            </div>
          </div>
          <div class="field" id="taskexpirationdatefieldf">
            <label>Expiration date</label>
            <input type="datetime-local" name="taskexpirationdatef" id="taskexpirationdatef()" />
          </div>
          <div class="right aligned">
            <button class="ui button" type="button" onclick="createTask()">Create task</button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="ui basic modal" id="taskdetmod">
      <div class="content">
        <div class="ui one cards">
        <div class="card">
          <div class="content">
            <div class="header"><span id="tasktitle"></span></div>
              <div class="meta">
                <span id="taskcreationdate"></span>
              </div>
              <div class="description" id="taskdescription">
              </div>
            </div>
            <div class="extra content" id="tasktags">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/wissen.js"></script>
    <th:block th:include="${customjsSource} :: ${customjsFragment}"></th:block>
  </body>
</html>