<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Wissen</title>
	</head>
	<body>
		<h1>Wissen</h1>
		<form id="flashcardForm" action="" method="POST">
			<input placeholder="Question" id="question" name="question" />
			<input placeholder="Answer" id="answer" name="answer" />
			<input placeholder="Details" id="details" name="details" />
			<input placeholder="Author" id="author" name="author" />
			<input placeholder="References" id="references" name="references" />
			<input placeholder="Category" id="category" name="category" />
			<button type="button" onclick="sendData( )" >Create</button>
		</form>
		
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script>
			function sendData( ){
				$.ajax({
					url : "/flashcard",
				    type: "POST",
				    contentType: "application/json; charset=utf-8",
				    data : '{"question":"' + $("#question").val() +'", "answer":"' + $("#answer").val() +'", "author":"' + $("#author").val() +  '"  }',
				    dataType: "json",
				    success: function( data ) {
				    }
				});
			}
		</script>
	</body>
</html>